<h1>Flight Search</h1>
<div class="row row-full-height">
	<div class="col-md-4 align-self-center">
		<form>
			<div class="form-group">
				<input class="form-control" placeholder="Origin" type="" name="">
			</div>
		</form>
	</div>
	<div class="col-md-4 align-self-center">
		<form>
			<div class="form-group">
				<input class="form-control" placeholder="Destination" type="" name="">
			</div>
		</form>
	</div>
	<div class="col-md-4 align-self-center">
		<form>
			<div class="form-group">
				<app-date-picker></app-date-picker>
			</div>
		</form>
	</div>
</div>